.chart-container {
    height: max-content;
    padding: 15px;
    margin: 10px;
    // background-color: #ffff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.121);
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.163);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(2,50%);
}