<section class="product-section-body light-container" [ngClass]="{'dark-container' : ThemeService.themechange}">

    <section class="cards-group">
        <div class="card-body">
            <div class="quantity-badge">20</div>
            <div class="product-img-section">
                <!-- <img src="assets/product-images/black_hoodi.png" alt="Product" class="product-image"> -->
            </div>
            <div class="product-details-section">
                <p class="product-name">Product Name</p>
                <div class="info-badges-group">
                    <span class="green-badge">200$</span>
                    <span class="primary-outline-badge">sm</span>
                </div>
                <button mat-button class="sell-btn">Purchase Now</button>
            </div>
        </div>
    </section>

    <!--========== Add Product btn ==========-->
    <div class="add-btn-section">
        <div class="left-tooltip-section">
            <button mat-fab class="add-button">
                <mat-icon>add</mat-icon>
            </button>
            <span class="left-tooltip">Add Products</span>
        </div>
    </div>
</section>