<section class="product-section-body light-container" [ngClass]="{'dark-container' : ThemeService.themechange}">

    <section class="cards-group">
        <ng-container *ngFor="let product of products">
            <div class="card-body">
                <div class="quantity-badge">20</div>
                <div class="product-img-section">
                    <div class="product-img-box">
                        <img src="{{product.img}}" alt="Product" class="product-image">
                        <!-- <img src="https://cdn3d.iconscout.com/3d/premium/thumb/student-5266576-4403850.png"
                            alt="Product" class="product-image"> -->
                    </div>
                </div>
                <div class="product-details-section">
                    <p class="product-name">{{product.name}}</p>
                    <div class="info-badges-group">
                        <span class="green-badge">{{product.price}}$</span>
                        <span class="primary-outline-badge">{{product.size}}</span>
                    </div>
                    <button mat-button class="sell-btn" style="align-self: end;">Purchase Now</button>
                </div>
            </div>
        </ng-container>

    </section>

    <!--========== Add Product btn ==========-->
    <div class="add-btn-section">
        <div class="left-tooltip-section">
            <button mat-fab class="add-button">
                <mat-icon>add</mat-icon>
            </button>
            <span class="left-tooltip">Add Products</span>
        </div>
    </div>
</section>