<div ng-cloak re (window:resize)="service.windowSize()">

  <mat-drawer-container class="light-container" [ngClass]="{'dark-container' : service.themechange}">
    <!--============== Left Side Bar ==============-->
    <mat-drawer [mode]='$any(service.sideBarMode)' #leftSideBar
      [opened]='$any(service.opensidebar) && authService.authorize' class="primary-sidebar">
      <mat-toolbar [color]="service.theme" class="toolbar">
        <!-- <span class="side-bar-text">Sidenav Left</span> -->
        <img src="../assets/light-teme-logo.png" class="sidebar-logo" alt="" *ngIf="!service.themechange">
        <img src="../assets/dark-theme-logo.png" class="sidebar-logo" alt="" *ngIf="service.themechange">

        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon"
          (click)="leftSideBar.toggle();service.closeSideBar()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>

      <!--===== SideBar Links =====-->
      <mat-list class="links-list">

        <!-- Loop Of Links-->
        <ng-container *ngFor="let links of sidebarItems">
          <mat-list-item [routerLink]="links.link" routerLinkActive="active-link">
            <mat-icon matListItemIcon class="sidebar-link-text">{{links.logo}}</mat-icon>
            <div matListItemTitle class="sidebar-link-text">{{links.text}}
            </div>
          </mat-list-item>
        </ng-container>

        <!-- Dropdown Link -->
        <mat-list-item (click)="service.showSubmenu = !service.showSubmenu" class="parent"
          (click)="service.opeDropdown()">
          <mat-icon matListItemIcon class="sidebar-link-text">whatshot</mat-icon>
          <span class="full-width sidebar-link-text" *ngIf="service.isExpanded || service.isShowing">Parent Menu
            <mat-icon class="menu-button" [ngClass]="{'rotated' : service.showSubmenu}"
              *ngIf="service.isExpanded || service.isShowing">expand_more</mat-icon></span>
        </mat-list-item>

        <mat-list class="submenu" [ngClass]="{'expanded' : service.showSubmenu}" *ngIf="service.isExpanded">
          <mat-list-item *ngIf="service.dropdoenitems" routerLinkActive="active-link">
            <mat-icon matListItemIcon class="sidebar-link-text">schedule</mat-icon>
            <div matListItemTitle class="sidebar-link-text">Submenu Item 1</div>
          </mat-list-item>
          <mat-list-item matListItemTitle *ngIf="service.dropdoenitems" routerLinkActive="active-link">
            <mat-icon matListItemIcon class="sidebar-link-text">format_color_fill</mat-icon>
            <div matListItemTitle class="sidebar-link-text">Submenu Item 2</div>
          </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>
      </mat-list>
    </mat-drawer>

    <!--============== Rigth Side Bar ==============-->
    <mat-drawer mode="over" #rightsidebar class="primary-sidebar" position="end">
      <mat-toolbar [color]="service.theme" class="toolbar">
        <span>Sidenav Left</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" (click)="rightsidebar.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
    </mat-drawer>

    <!--============== Content Section ==============-->
    <mat-drawer-content>

      <!--== Toolbar ==-->
      <mat-toolbar [color]="service.theme" class="toolbar">
        <button mat-icon-button *ngIf="service.toggleButton || service.sidebartogglebtn"
          (click)="leftSideBar.toggle(); service.openSideBar()">
          <mat-icon>dehaze</mat-icon>
        </button>
        <ng-container *ngIf="service.toggleButton || service.sidebartogglebtn || !authService.authorize">
          <img src="../assets/light-teme-logo.png" class="sidebar-logo" alt="" *ngIf="!service.themechange">
          <img src="../assets/dark-theme-logo.png" class="sidebar-logo" alt="" *ngIf="service.themechange">
        </ng-container>

        <!-- <span>Home</span> -->
        <span class="example-spacer"></span>

        <div class="bottom-tooltip-section">
          <mat-slide-toggle color="primary" [(ngModel)]="service.themechange"
            (change)="service.changeTheme($event)"></mat-slide-toggle>
          <span class="bottom-tooltip">Chnage Theme</span>
        </div>

        <!-- Account Icon / Menu -->
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="accountmenu" *ngIf="authService.authorize">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #accountmenu="matMenu">
          <ng-container *ngFor="let data of authService.GetLoginUserDetails">
            <button mat-menu-item>
              <img src="https://cdn3d.iconscout.com/3d/premium/thumb/student-5266576-4403850.png" alt=""
                class="menu-user-Img">
              <span>{{data.FirstName}} {{data.LastName}}</span>
              <img src="../assets/verify-icon.png" alt="" class="verify-icon" *ngIf="data.admin">
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
              <mat-icon>call</mat-icon>
              <span>+91{{data.MobileNo}}</span>
            </button>
            <button mat-menu-item>
              <mat-icon>email</mat-icon>
              <span>{{data.Email}}</span>
            </button>
            <mat-divider></mat-divider>
            <!-- <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Setting</span>
            </button> -->
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Log Out</span>
            </button>
          </ng-container>

        </mat-menu>


        <button mat-icon-button class="example-icon" (click)="rightsidebar.toggle()" *ngIf="authService.authorize">
          <mat-icon>filter_list</mat-icon>
        </button>
      </mat-toolbar>

      <!--== Components Loading Section ==-->
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>