.user-img {
    width: 40px;
    margin: 10px 20px 10px 0;
    background-color: #1d86e949;
    border-radius: 50%;
    border: 1.5px solid #1d86e9;
}

::ng-deep .mat-expansion-panel-header {
    height: max-content !important;
}

.user-name {
    position: relative;
    width: max-content;
    margin: 0;
}

.verify-icon {
    width: 20px;
    height: auto;
    margin: -15px 0 0 2px;
    user-select: none;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
    border-bottom: 1px solid rgb(228, 228, 228);
}

::ng-deep .mat-expansion-panel-header-description {
    display: none !important;
}

::ng-deep .mat-expansion-panel-content {
    overflow-x: auto !important;
}

::ng-deep .mat-accordion .mat-expansion-panel {
    margin: 0 0 10px 0;
    border-radius: 4px !important;
}

::ng-deep .mat-expansion-panel-body {
    overflow-y: hidden;
}

::ng-deep .mdc-data-table__table {
    width: 100%;
    min-width: 700px !important;
}

.gray-color {
    color: rgb(173, 173, 173);
    display: flex;
    align-items: center;
    height: 50px;
}

.gray-color>.material-icons {
    margin: 0 10px 0 0;
}


.quantity-badge {
    background-color: #1d86e9;
    color: rgb(253, 253, 253);
    padding: 3px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.size-badge {
    border: 1.5px solid #1d86e9;
    color: #1d86e9;
    padding: 3px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.price-text {
    color: #1d86e9;
    font-size: 17px;
}


.info-image-section {
    text-align: center;
}

.data-not-found-img {
    width: 200px;
    min-width: 100px;
    mix-blend-mode: multiply;
}