.light-container {
    --card-bg-collor: #ffff;
    --text-color: rgb(173, 173, 173);
    padding: 10px;
}

.dark-container {
    --card-bg-collor: rgb(185, 185, 185);
    --text-color: rgb(0, 0, 0);
    padding: 10px;
}

.user-img {
    width: 40px;
    margin: 10px 20px 10px 0;
    background-color: #1d86e949;
    border-radius: 50%;
    border: 1.5px solid #1d86e9;
}

::ng-deep .mat-expansion-panel-header {
    height: max-content !important;
}

::ng-deep .mat-expansion-panel-header-title {
    justify-content: space-between !important;
}

.user-name {
    position: relative;
    width: max-content;
    margin: 0;
}

.verify-icon {
    width: 20px;
    height: auto;
    margin: -15px 0 0 2px;
    user-select: none;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
    border-bottom: 1px solid rgb(228, 228, 228);
}

::ng-deep .mat-expansion-panel-header-description {
    display: none !important;
}

::ng-deep .mat-expansion-panel-content {
    overflow-x: auto !important;
}

::ng-deep .mat-accordion .mat-expansion-panel {
    margin: 0 0 10px 0;
    border-radius: 4px !important;
    background-color: var(--card-bg-collor);
}

::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background-color: var(--card-bg-collor) !important;
}


.data-table {
    background-color: var(--card-bg-collor) !important;
}

::ng-deep .data-table.mat-mdc-table tbody {
    border-radius: 0 0 7px 7px !important;
}

::ng-deep .mat-expansion-panel-body {
    overflow-y: hidden;
    position: relative;
}

::ng-deep .mdc-data-table__table {
    width: 100%;
    min-width: 700px !important;
}

.gray-color {
    color: var(--text-color);
    display: flex;
    align-items: center;
    height: 52px;
}

.gray-color>.material-icons {
    margin: 0 10px 0 0;
}

.title-left-section {
    display: flex;
    align-items: center;
}

.quantity-badge {
    background-color: #1d86e9;
    color: rgb(253, 253, 253);
    padding: 3px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.size-badge {
    border: 1.5px solid #1d86e9;
    color: #1d86e9;
    padding: 3px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.price-text {
    // color: #1d86e9;
    color: green;
    font-size: 17px;
}


.info-image-section {
    text-align: center;
}

.data-not-found-img {
    width: 200px;
    min-width: 100px;
    mix-blend-mode: multiply;
}


/*============================== Left Tooltip ==============================*/
.left-tooltip-section {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
    width: max-content;
    margin: 10px 10px 10px 10px;
}

/*-- Tooltip Social Media --*/
.left-tooltip {
    background: var(--tooltip-bgColor);
    display: block;
    position: absolute;
    bottom: 0;
    color: #ffff;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-130%, -2%);
    transition: all 0.2s ease;
    z-index: 1;
    width: max-content;
    padding: 10px;
}

.left-tooltip:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(242%, -142%) rotate(268deg);
}

.left-tooltip:after {
    border-top-color: var(--tooltip-bgColor);
}

.left-tooltip-section:hover .left-tooltip {
    opacity: 1;
    transform: translate(-130%, -5%);
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
    border-color: #1d86e9 !important;
    background-color: #1d86e9 !important;
}

.print-button {
    position: absolute;
    top: 0;
    right: 10px;
}

.product-avalible-status {
    --status-color: green;
}

.product-unavalible-status {
    --status-color: red;
}

.product-status {
    background-color: var(--status-color);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 10px;
}

.add-history-cards,
.sell-history-cards {
    border: 1px solid #1d86e9;
    border-radius: 5px;
    margin: 10px 0;
}

.add-history-cards>.card-header,
.sell-history-cards>.card-header {
    background-color: rgb(29 134 233 / 59%);
    border-radius: 5px 5px 0 0;
    padding: 13px;
    color: #FFF;
    position: relative;
}

.sell-history-cards {
    border-color: red;
}

.sell-history-cards>.card-header {
    background-color: rgb(255 58 58 / 45%);
}

.add-history-cards>.card-body,
.sell-history-cards>.card-body {
    min-height: 0px;
    max-height: 300px;
    overflow: auto;
    border-radius: 10px;
}