<div mat-dialog-title>
    <h4 class="m-0">Sell Product</h4>
    <mat-icon class="dialog-close-btn" mat-dialog-close>clear</mat-icon>
</div>

<mat-dialog-content class="mat-typography">
    <form>
        <div class="two-form-fields">
            <div>
                <mat-form-field class="form-fields" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-fields" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-fields" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-fields" appearance="outline">
                    <mat-label>Product Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-fields">
                    <mat-label>Select Product Size</mat-label>
                    <mat-select formControlName="Size">
                        <mat-option value="xs">xs</mat-option>
                        <mat-option value="sm">sm</mat-option>
                        <mat-option value="ms">md</mat-option>
                        <mat-option value="lg">lg</mat-option>
                        <mat-option value="xl">xl</mat-option>
                        <mat-option value="xxl">xxl</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-fields" appearance="outline">
                    <mat-label>Product Quantity</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button class="sell-btn" mat-dialog-close>Sell Product</button>
</mat-dialog-actions>